<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ERPDS">
        <activity
            android:name=".IDCheckActivity"
            android:exported="false"
            android:label="ID-Check" />
        <activity
            android:name=".FleetActivity"
            android:exported="false"
            android:label="Fuhrpark-Copilot" />
        <activity
            android:name=".CheckInOutActivity"
            android:exported="false"
            android:label="@string/title_check_in_out" />
        <activity
            android:name=".PrivacyAuthActivity"
            android:exported="false"
            android:label="@string/title_privacy_2fa" />
        <activity
            android:name=".FeatureActivity"
            android:exported="false" />
        <activity
            android:name=".DispatchActivity"
            android:exported="false"
            android:label="Dispatch &amp; Einsätze" />
        <activity
            android:name=".AssignmentReportActivity"
            android:exported="false"
            android:label="Einsatzbericht" />
        <activity
            android:name=".AssignmentDetailActivity"
            android:exported="false"
            android:label="Einsatz Details" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>